* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: magenta;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

header > :first-child {
  margin-right: auto;
}

.header-item {
  background-color: violet;
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
}

main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: #d8ffb2;
}

.main-contents {
  background-color: limegreen;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-item {
  background-color: yellow;
  height: 130px;
  margin: 10px;
  flex-basis: 200px;
}

footer {
  width: 100%;
  background-color: dodgerblue;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-item {
  background-color: lightblue;
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
}